
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="isLoggedIn">
         
          <li class="nav-item" *ngIf="this.tokenStorageService.isAdminLogin()">
            <a class="nav-link" routerLink="/getUser">Users</a>
          </li>
          <li class="nav-item" *ngIf="this.tokenStorageService.isAdminLogin()">
            <a class="nav-link" routerLink="/getProduct">Products</a>
          </li>
          <li class="nav-item" *ngIf="this.tokenStorageService.isAdminLogin()">
            <a class="nav-link" routerLink="/adminOrder">Orders</a>
          </li>
          <li class="nav-item" *ngIf="this.tokenStorageService.isAdminLogin()">
            <a class="nav-link" routerLink="/chart">Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="this.tokenStorageService.isUserLogin()" routerLink="/order">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="this.tokenStorageService.isUserLogin()" routerLink="/getUserOrder/pendingOrder">My Orders</a>
          </li>
        </ul>
      
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Welcome {{username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login"
            (click)="logout()">LogOut</a>
          </li>
        </ul>
      </nav>
      
  