<div class="card bg-light text-dark"
  style="width:600px;
  margin-left:260px;">
    <div class="card-body">
        <h4 style="text-align: center;">Login Form</h4>
        <hr>

        <form>
            <div class="form-group">
              <label for="firstName">Email</label>
              <input type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required>
                <!-- <span class="help-block" *ngIf="email.errors?.required && email.touched">
                  Email is required</span>
                <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
                  Email should have only alphabet with minimum 2 character</span> -->
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" 
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your password"
                  pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%&?@]).*$"
                  required>
                  <!-- <span class="help-block" *ngIf="password.errors?.required && password.touched">
                    Password is required</span>
                  <span class="help-block" *ngIf="password.errors?.pattern && password.touched">
                    Password should have at least 8 character with lowercase and Uppercase alphabet,digit and special character Ex. Abc@123</span> -->
            </div>
        
            <button type="submit" 
              class="btn btn-primary">Submit</button>

              <button 
              routerLink="/signup"
              class="btn btn-success">Sign Up</button>
        </form>
    </div>
  </div>