<div class="list row">
    <div class="col-sm-5">
        <br>
        <h4 style="color:rgb(62, 65, 214);;">Active Product List</h4>
        <hr>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let product of activeProducts; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveProduct(product, i)"
          >
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ product.name }}</h4>
            <p class="list-group-item-text">{{ product.description }}</p>
            </div>
          <span class="pull-right">
                <img
                  [src]="product.imagePath"
                  alt="{{ product.name }}"
                  class="img-responsive"
                  style="max-height: 50px;">
            </span>
          </li>
        </ul>
        <hr>
      <h4 style="color:rgb(62, 65, 214);;">Inactive Product List</h4>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let product of InactiveProducts; let i = index"
          [class.active]="i == currentIndex"
          (click)="setInActiveProduct(product, i)"
        >
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{ product.name }}</h4>
            <p class="list-group-item-text">{{ product.description }}</p>
        </div>
          <span class="pull-right">
                <img
                  [src]="product.imagePath"
                  alt="{{ product.name }}"
                  class="img-responsive"
                  style="max-height: 50px;">
            </span>
        </li>
      </ul>
    </div>
    
    <div class="col-sm-6">
      <br>
        <h4 style="color:rgb(62, 65, 214);">Product Detail</h4>
        <hr>
        <div *ngIf="currentProduct">
          <div>
            <label><strong>Id:</strong></label> {{ currentProduct.id }}
          </div>
          <div>
            <label><strong>Name:</strong></label>
            {{ currentProduct.name }}
          </div>
          <div>
            <label><strong>Description:</strong></label>
            {{ currentProduct.description}}
          </div>
          <div>
            <img [src]="currentProduct.imagePath" 
            class="img-responsive"
            style="width: 150px;height: 150px;">
          </div>
          <button 
          class="btn btn-danger" (click)="makeInactiveProduct(); refreshList()">Make Inactive</button>
          <br>
          <h4 style="text-align: center;">Edit  {{ currentProduct.name }}</h4>
            <hr>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
           Product Edit Successfully!
          </div>
      
          <div class="alert alert-warning" *ngIf="isFailed">
            failed..Product name is already added!<br />
          </div>
            <form
            name="form"
            (ngSubmit)="editProductForm.form.valid && onEditActive()"
            #editProductForm="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="form.name"
                placeholder="Enter product name"
                pattern="^[a-zA-Z0-9._%+-]{3,}$"
                required
                #name="ngModel"
              >
              <span class="help-block" *ngIf="name.errors?.required && name.touched">
                Product name is required</span>
              <span class="help-block" *ngIf="name.errors?.pattern && name.touched">
               Minimum size must be 3</span>
            </div>
      
            <div class="form-group">
              <label for="imagePath">imagePath</label>
              <input
                type="imagePath"
                class="form-control"
                name="imagePath"
                [(ngModel)]="form.imagePath"
                placeholder="Enter imagePath"
                required
                #imagePath="ngModel"
              >
              <span class="help-block" *ngIf="imagePath.errors?.required && imagePath.touched">
                imagePath is required</span>
            </div>
            <img [src]="imagePath.value" class="img-responsive"
                style="width: 300px;height:300px;"
                *ngIf="imagePath.touched">
             <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  type="imagePath"
                  class="form-control"
                  name="description"
                  [(ngModel)]="form.description"
                  placeholder="Enter description"
                  required
                  #description="ngModel"
                >
                </textarea>
                <span class="help-block" *ngIf="description.errors?.required && description.touched">
                description is required</span>
              </div>
            <button class="btn btn-success">
              Save Edit</button>
          </form>
        </div>

        <div *ngIf="currentInactiveProduct">
            <div>
              <label><strong>Id:</strong></label> {{ currentInactiveProduct.id }}
            </div>
            <div>
              <label><strong>Name:</strong></label>
              {{ currentInactiveProduct.name }}
            </div>
            <div>
              <label><strong>Description:</strong></label>
              {{ currentInactiveProduct.description}}
            </div>
            <div>
              <img [src]="currentInactiveProduct.imagePath" 
              class="img-responsive"
              style="width: 150px;height: 150px;">
            </div>
            <button 
            class="btn btn-success" (click)="makeActiveProduct(); refreshList()">Make Active</button>
            
            <h4 style="text-align: center;">Edit  {{ currentInactiveProduct.name }}</h4>
            <hr>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
           Product Edit Successfully!
          </div>
      
          <div class="alert alert-warning" *ngIf="isFailed">
            failed..Product name is already added!<br />
          </div>
            <form
            name="form"
            (ngSubmit)="editProductForm.form.valid && onEditInactive()"
            #editProductForm="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                [(ngModel)]="form.name"
                placeholder="Enter product name"
                pattern="^[a-zA-Z0-9._%+-]{3,}$"
                required
                #name="ngModel"
              >
              <span class="help-block" *ngIf="name.errors?.required && name.touched">
                Product name is required</span>
              <span class="help-block" *ngIf="name.errors?.pattern && name.touched">
               Minimum size must be 3</span>
            </div>
      
            <div class="form-group">
              <label for="imagePath">imagePath</label>
              <input
                type="imagePath"
                class="form-control"
                name="imagePath"
                [(ngModel)]="form.imagePath"
                placeholder="Enter imagePath"
                required
                #imagePath="ngModel"
              >
              <span class="help-block" *ngIf="imagePath.errors?.required && imagePath.touched">
                imagePath is required</span>
            </div>
            <img [src]="imagePath.value" class="img-responsive"
                style="width: 300px;height:300px;"
                *ngIf="imagePath.touched">
             <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  type="imagePath"
                  class="form-control"
                  name="description"
                  [(ngModel)]="form.description"
                  placeholder="Enter description"
                  required
                  #description="ngModel"
                >
                </textarea>
                <span class="help-block" *ngIf="description.errors?.required && description.touched">
                description is required</span>
              </div>
            <button class="btn btn-success">
              Save Edit</button>
          </form>

          </div>

        <div *ngIf="!currentProduct && !currentInactiveProduct">
          <p>Please Select Product</p>
        </div>
    </div>
</div>