<br>
<h4 style="color: navy;margin-left:260px;">Active User List :</h4>
<div class="list row"
  style="margin-left:260px;">
  <div>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of activeUsers; let i = index"
              [class.active]="i == currentIndex">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of activeUsers; let i = index"
                [class.active]="i == currentIndex"
                (click)="makeInactive(user)">
                  <td><a href="/getUser">Inactive</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<h4 style="color: navy;margin-left:260px;">Inactive User List :</h4>
<div class="list row"
      style="margin-left:260px;">
    <div>
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of inactiveUsers; let i = index"
              [class.active]="i == currentIndex">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of inactiveUsers; let i = index"
                [class.active]="i == currentIndex"
                (click)="makeActive(user)">
                  <td><a href="/getUser">Active</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>